<li><a href="/posts">Posts</a></li>
<li><a href="/tags">Tags</a></li>
<% if user_signed_in? && current_user.admin? %>
  <li><a href="/admin/dashboard">Dashboard</a></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Log Out', destroy_user_session_path, :method => 'delete' %></li>
  <li class="name-display"><%= link_to "Hello, #{current_user.email}", edit_user_registration_path %></li>
<% else %>
  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
  <li><%= link_to 'Sign In', new_user_session_path %></li>
<% end %>
